body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 60px;
  margin-left: 25px;
  padding-top: 10px;
}

p {
  font-size: 22px;
  margin-left: 25px;
  padding-bottom: 0;
}
ul {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-color: white;
  border-radius: 6px;
  max-width: 200px;
  margin-left: 25px;
  margin-top: 10px;
  padding-inline-start: 10px;
  padding: 16px 16px;
}
input {
  margin-left: 20px;
}

#temperature {
  font-size: 60px;
  margin-left: 25px;
}

.units {
  font-size: 20px;
  position: relative;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding-bottom: 0;
}

.weather-app {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 20px;
  border-radius: 10px;
}

.source-code-info {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  padding-top: 0;
}

.date-time {
  margin-left: 25px;
  font-size: 18px;
}
